body {
  background: #000;
}

.tn-elem__5061097481667381917172 {
  position: fixed;
}

.paints {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}
@media (max-width: 640px) {
  .tn-elem__5061097481667381917172 {
    display: none;
  }
}
